<%- include("partials/header") %>

<h1>Compose</h1>

<input type="text" name="composePost" value="" placeholder="Add a new post...">
<button action="" type="submit">Publish</button>

<%- include("partials/footer") %>
