:root{
  --ffBrand: 'Dancing Script', cursive;
  --ffBody: 'Lato', sans-serif;
  --colLinks: hsl(168, 76%, 42%);
  --colNav: hsl(0, 0%, 85%);
  --colFooter: hsl(0, 0%, 30%);
  --colPost: hsl(168, 68%, 65%);
}

h1{
  font-family: var(--ffBody);
  font-weight: 700;
}

h2, h3{
  font-family: var(--ffBody);
  font-family: 400;
}

body{
  font-family: var(--ffBody);
}

.navbar-header p{
  font-family: var(--ffBrand);
  font-size: 4em;
  letter-spacing: -1px;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: var(--colNav);
}

.navbar-nav li a{
  font-weight:bold;
  transition: all 0.3s ease-in-out;
}

.navbar-nav  li a:hover {
    color: var(--colLinks) !important;
}

.footer {
  display: flex;
	position: fixed;
	text-align: center;
  justify-content: center;
	bottom: 0;
	width: 100%;
	padding: 1em 0 1.05em 0;
	background-color: var(--colFooter);
}

.footer p {
	font-size: 12px;
  color: #fff;
}

.post{
  max-width: 90%;
  border-radius: 5px;
  box-shadow: 0 5px 10px -1px rgba(0, 0, 0, 0.2);
  margin-bottom: 2em;
  background-color: hsl(0, 0%, 95%);
  transition: all 0.3s ease-in-out;
}

.post:hover {
  background-color: var(--colPost);
}

/*Truncating characters to a set amount
.post p {
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}*/
